.contentBG {
  background-image: url('../../../images/BG_content.png');
  width: 1920px;
  height: 700px;
  position: absolute;
  top: 2000px;
  z-index: 2;
}

.content {
  width: 1920px;
  background-color: #0B1D26;
  /* height: 700px; */
  position: relative;
  top: 2700px;
  z-index: 2;
}

.contentBlockOne {
  width: 1472px;
  top: -500px;
  position: relative;
  z-index: 5;
  height: 720px;
  /* width: 1472px; */
  /* border: solid 1px #fff; */
  left: 229px;
}

.contentBlock {
  /* position: absolute; */
  position: relative;
  z-index: 5;
  height: 720px;
  width: 1472px;
  border: solid 1px #fff;
  left: 229px;
  /* top: 400; */
}

.upperTitle {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  /* width: 200px; */
}

.opacityTitle {
  font-size: 240px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  line-height: 240px;
  opacity: 0.1;
  position: absolute;
  /* top: 20px; */
  /* z-index: 5;
  top: 500; */
}

.lineBlock {
  height: 2px;
  width: 72px;
  margin-top: 125px;
  margin-left: 160px;
}

.yellowTitle {
  color: #FBD784;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  /* text-transform: uppercase; */
  /* position: absolute; */
  margin-top: 116px;
  margin-left: 24px;
  width: 172px;
}

.list {
  display: flex;
  flex-direction: row;
}

.img {
  width: 566px;
  height: 720px;
  margin-left: 114px;
}

.bottomBlock {
  margin-left: 160px;
  /* position: relative; */
  /* top: 100px; */
  /* left: 200px; */
}

.blockTitle {
  color: #FFF;
  width: 555px;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 27px;
}

.blockText {
  color: #FFF;
  width: 632px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-top: 27px;
}

.contentButton {
  border: none;
  background-color: transparent;
}