.content {
  background-image: url('../../../images/BG_content.png');
  width: 1920px;
  height: 700px;
  position: absolute;
  top: 2000px;
  z-index: 2;
}

.blockOne {
  /* position: absolute; */
  position: relative;
  z-index: 5;
  height: 720px;
  width: 1472px;
  border: solid 1px #fff;
  left: 229px;
  /* top: 400; */
}

.opacityTitle {
  font-size: 240px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  line-height: 240px;
  opacity: 0.1;
  position: absolute;
  /* top: 20px; */
  /* z-index: 5;
  top: 500; */
}

.upperTitle {
  position: relative;
}

.yellowTitle {
  color: #FBD784;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 6px;
  text-transform: uppercase;
  position: absolute;
  top: 30px;
}

.blockTitle {
  color: #FFF;
  width: 555px;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.blockText {
  color: #FFF;
  width: 632px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.list {
  display: flex;
  flex-direction: row;
}

.img {
  width: 566px;
  height: 720px;
}

.bottomBlock {
  position: relative;
  left: 200px;
}