body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Chronicle Display,
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li, img {
  padding: 0;
  margin: 0;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

li {
  list-style: none;
}